.row
  %img.pull-right{:src => "images/logo.png"}/
.row
  #nukomeet.pull-right
    %p SAS Nukomeet          
    %p 750 621 518 RCS Paris
    %p 17 rue de Javel
    %p  75015 Paris France

%h1 Quote

%h2 #{@client_name}

%h2 #{@project_name}}

%hr
%h3 About
%p Nukomeet is a team of pluridisciplinary individuals that like to solve complex problems using technology, with a strong expertise on web and mobile and a taste for open-source and social innovation.
%p 
  %a{:href => "http://github.com/nukomeet"} Our open source projects  
%p 
  %a{:href => "http://nukomeet.com/team"} The Team
%p
  %a{:href => "http://nukomeet.com/testimonials"} A few testimonials

%h3 Latest projects
%p Automated cloud deployment tools controlled through a web interfaced API (back end: python, deployment: chef and pupper, interface: angular JS). For Commerce Guys.

%p Partial remake of Navigart software, used by the public contemporary art collections network (Centre Georges Pompidou, MacVal...etc). Enables online visioning and search of works of art. Still in progress, Nukomeet works on improving the API interacting with all the works of art and the realisation of an elegant and responsive front end, including multi criteria search in real time (Angular JS). For Videomuseum.

%p Creation of a dashboard for Polyspot (Big Data).

%p Process automation for Freyssinet (subsidiary of Vinci, construction), Ruby on Rails.

%p Visually immersive application for Arte and the Chateau de Versailles.  

%h3 Object of the mission 
#{@mission}
%hr
%h3 Rate 
#{@rate}
%hr
#{@hosting}
%hr
